form#uplog-filter-form .form-item-modules,
form#uplog-filter-form .form-item-type,
form#uplog-filter-form .form-item-status {
  float: left;
  width: 15em;
}
form#uplog-filter-form .form-item-modules select,
form#uplog-filter-form .form-item-type select,
form#uplog-filter-form .form-item-status select {
  width: 100%;
  box-sizing: border-box;
}
form#uplog-filter-form .form-actions {
  clear: both;
}
table#admin-uplog tr.uplog-failed {
  background: #ffc9c9;
}
table#admin-uplog tr.uplog-failed .active {
  background: #eeb9b9;
}
table#admin-uplog table#admin-uplog td.icon-cell {
  width: 16px;
}
